@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
body{
	height: 100%;
	font-family: "Poppins", sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: #90D5DE;
	color: #fff;
}
* {
	box-sizing: border-box;
}
.grid-container{
	display: grid;
	grid-template-columns: 100%;
}
.grid-container-cta{
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-gap: 10px;
	padding-right: 45px;
}

.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}
.card-opacity{
	background-color: #fff;
	opacity: .0;
	position: absolute;
	z-index: 9998;
}
.card{
	z-index: 9999;
	padding: 25px;
	display: table;
	border: 0px solid #000;
}
.card-size{
	width: 1024px;
	height: 450px;
}

.card h1{
	color: #13293D;
	font-weight: normal;
	font-size: 38px;
}

.card .text{
	color: #13293D;
	padding-right: 25px;
}
.card .imagem{
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #000;
	height: 400px;
	text-align: center;
}
.card .imagem img{
	width: 100%;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);

}
.cta{
	width: 100%;
	height: 50px;
	border: 0px;
	cursor: pointer;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
}
.cta-1{
	background-color: #13293D;
	color: #fff;
}
.cta-2{
	background-color: #247BA0;
	color: #fff;
}
.cta-3{
	background-color: #E8F1F2;
	color: #13293D;
	border: 1px solid #13293D;
}
a{
	color: #333;
}
